/* footer 여기 부분은 footer.css 부분 붙혀 놓은거라 수정하시면 됩니다.*/
/* #footer {
    background-color: var(--black);
    color: var(--white);
    padding-top: 40px;
}

.footer__inner {
    display: flex;
    height: 120px;
    justify-content: space-between;
    font-size: 1rem;
}

.footer__inner ul {
    display: flex;
}

.footer__inner ul li {
    margin-right: 10px;
}

.footer__inner .left span {
    display: block;
    margin-bottom: 5px;
    color: var(--white);
}


.footer__inner .left span a {
    color: var(--white);
    cursor: pointer;

}

.footer__inner .right ul li a {
    color: var(--white);
}

@media (max-width:600px) {
    .footer__inner {
        width: 100%;
        padding: 0 16px;
        font-size: 0.6rem;
    }
} */