/* contents */

#contents {
    padding-bottom: 10.8rem;
    box-sizing: inherit;
}

.content {
    margin: 0 auto;
}

.contetns_wrap {
    width: 100%;
}

.Mypage_header {
    padding: 4.2rem 3.2rem 2rem;
}

/* //Mypage_tap  */
.Mypage_tap {
    gap: 2.4rem;
    margin-bottom: 2.8rem;
    display: flex;
    justify-content: center;
}

.Mypage_code,
.Mypage_board,
.Mypage_feed {
    width: 7.4rem;
    height: 3rem;
    background-color: var(--white);
    border-radius: 10rem;
    color: var(--black);
    font-weight: 700;
    cursor: pointer;
}

/* //Mypage_info */


.Mypage_info {
    width: 100%;
    background-color: var(--white);
    border-radius: 3.2rem;
}

.Mypage_info_codes {
    width: 100%;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    border-radius: 3.6rem;
    background-color: var(--white);
    padding: 1rem 1.6rem 2.6rem;
    min-height: 60rem;
    max-width: 144rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.MyPage_info_items {
    margin: 0 1.2rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Mypage_count {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--black600);
    line-height: 3.2rem;
}

.Mypage_count p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.Mypage_addItem {
    gap: 0.5rem;
    width: 8rem;
    height: 3rem;
    border-radius: 1.2rem;
    background-color: hsla(0, 0%, 90%, .6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mypage_addItem img {
    width: 1.2rem;
    height: 1.2rem;
    display: block;
}

.Mypage_addItem span {
    color: var(--black600);
    font-size: 1rem;
    font-weight: 500;
}

/* //Code_Gird */

.Code_Gird {
    display: grid;
    justify-content: center;
    grid-row-gap: 1.6rem;
    row-gap: 1.6rem;
    grid-column-gap: 1.8rem;
    column-gap: 1.8rem;
    max-width: 144rem;
    width: 100%;
}

.Item_in {
    position: relative;
}

.Item_in a:-webkit-any-link {
    cursor: pointer;
}

.Item_square {
    width: 100%;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}

.Item_overlay {
    width: 100%;
    height: 100%;
    position: absolute;

}