@charset "UTF-8";

/* contents */
.content {
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

#contents .code_btn {
    gap: 2.4rem;
    margin-bottom: 2.8rem;
}

#contents .code_btn .code {
    width: 50px;
    height: 20px;
    background-color: var(--pointColor1-1);
    border-radius: 20%;
}

#contents .code_btn .border {
    width: 50px;
    height: 20px;
    background-color: var(--white);
    border-radius: 20%;
}

#contents .code_btn .pide {
    width: 50px;
    height: 20px;
    background-color: var(--white);
    border-radius: 20%;
}


/* .content_wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px 20px;
    width: 80%;
} */

/* contents */

#contents {
    padding-bottom: 10.8rem;
    box-sizing: inherit;
}

.content {
    margin: 0 auto;
}

.contetns_wrap {
    width: 100%;
}


/* //Mypage  */
.Mypage_header {
    padding: 4.2rem 3.2rem 2rem;
}


.Mypage_tap {
    gap: 2.4rem;
    margin-bottom: 2.8rem;
    display: flex;
    justify-content: center;
}

.Mypage_code,
.Mypage_board,
.Mypage_feed {
    width: 7.4rem;
    height: 3rem;
    background-color: var(--white);
    border-radius: 10rem;
    color: var(--black);
    font-weight: 700;
    cursor: pointer;
}

/* //Mypage_info */
.Mypage_info {
    width: 100%;
    background-color: var(--white);
    border-radius: 3.2rem;
}

.Mypage_info_codes {
    width: 100%;
    padding-left: 3.2rem;
    padding-right: 3.2rem;
    border-radius: 3.6rem;
    background-color: var(--white);
    padding: 1rem 1.6rem 2.6rem;
    min-height: 60rem;
    max-width: 144rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.MyPage_info_items {
    margin: 0 1.2rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Mypage_count {
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--black600);
    line-height: 3.2rem;
}

.Mypage_count p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
}

.Mypage_addItem {
    gap: 0.5rem;
    width: 8rem;
    height: 3rem;
    border-radius: 1.2rem;
    background-color: hsla(0, 0%, 90%, .6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Mypage_addItem img {
    width: 1.2rem;
    height: 1.2rem;
    display: block;
}

.Mypage_addItem span {
    color: var(--black600);
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
}

/* //Code_Grid */

.Code_Grid {
    display: grid;
    justify-content: center;
    grid-row-gap: 1.6rem;
    row-gap: 1.6rem;
    grid-column-gap: 1.8rem;
    column-gap: 1.8rem;
    max-width: 144rem;
    width: 100%;
}

.Code_Grid .Item_out .Item_Container {
    position: relative;
}

.Code_Grid .Item_out .a {
    text-decoration: none;
    color: inherit;
}

.Item_square {
    width: 100%;
    height: 0;
    padding-top: 100%;
    position: relative;
    overflow: hidden;
}

.Item_square .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: var(--white);
}

.Item_square .Item_overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .05);
}

.Item_editContaier {
    position: absolute;
    top: 83%;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
}

.item_edit {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background-color: hsla(0, 0%, 100%, .8);
    display: flex;
    justify-content: center;
    align-items: center;
}